@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dots {
  background-image: radial-gradient(currentColor 1.5px, transparent 1.5px);
  background-size: 15px 15px;
}

.profpic {
  box-shadow: 0px 15px 40px -10px rgba(137, 121, 97, 0.34);
}

@media (max-width: 767px) {
  .profpic {
    max-width: 150px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 1279px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
